@font-face {
  font-family: Open-sans-light;
  src: url('../assets/fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: Open-sans-light-italic;
  src: url('../assets/fonts/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: Open-sans-medium;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Open-sans-bold;
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: Open-sans-bold-italic;
  src: url('../assets/fonts/OpenSans-SemiBoldItalic.ttf');
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%;
}
.main {
  width: 100%;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-image: url('../assets/images/prestamos-personales-DEF.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.containerMain{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}
.containerForm h1{
 font-size: 3rem; 
}
.containerForm h3{
  font-family: Open-sans-medium;
}
.containerForm h1, .containerForm h3 {
  width: 300px;
  color: #FFFFFF;
  margin: 1em auto;
  text-align: justify;
  padding: 0 .5em;
  padding-bottom: .2em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
}
.containerForm{
  width: 50%;
}
.footer {
  width: 100%;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  box-sizing: content-box;  
  text-align: center;
}
.footer p{
  padding: 0 1em;
}
.instructions{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Open-sans-bold;
}
.titles{
  width: 700px;
  height: 200px;
}
.titles h1 {
  font-size: 40px;
  color: #329968;
}
.icons{
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerWaves{
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100% !important;  
}
.waves{
  padding: 0;
}
.containerImage{
  background-color: #ffffffa4;
  width: 190px;
  height: 260px;
  min-height: 260px;
  max-height: 260px;
  border-radius: .2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  text-align: center;
  position: relative;
}
.containerImage:hover{
  margin-top: -.3em; 
  margin-bottom: .3em;
  box-shadow: 0px 5px 5px 0px #5c5c5c5e;
  transition: margin .4s ease !important;
}
@media (max-width: 800px) {
  .main {
    width: 100%;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
  }
  .containerForm{
    width: 100%;
  }
  .containerForm h1{
    font-size: 2rem;
    margin: 0 auto;
  }
  .containerForm h3{
    margin: 1em auto;
  }
  .containerForm h1, .containerForm h3 {
    width: 90%;
    padding: 0;
    text-align: center;
  }
  .container,.main{
    padding: 0 !important;
  }
  .containerMain{
    flex-direction: column;
  }
  .containerForm{
    width: 100%;
  }
  .titles{
    width: 100%;
    height: 140px;
  }
  .titles h1 {
    font-size: 32px;
    color: #329968;
  }
  .icons{
    width: 100%;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
  }
  .containerImage{
    width: 100%;
    height: 200px;
    margin: 0;
  }
  .containerImage:hover{
    margin-top: none; 
    margin-bottom: none;
    box-shadow: none;
    transition:none;
  }
}

/* @media (max-width: 600px) {

} */
